@media only screen and (min-width: 1170px){
    .jumbutron .cd-headline{
        font-size: 6rem;
    }
}

@media only screen and (max-width: 1200px){
    .solusi .container-form .jumlah h3{
        font-size: .8rem;
    }

    /* ==== CSS Page Not Found ==== */
    .page-not-found .container-text .btn-go{
        font-size: .9rem;
    }

    .page-not-found .container-text .to-homepage{
        padding: 12px 25px !important;
    }
}

@media only screen and (max-width: 992px){
    /* --- Jumbotron --- */
    .jumbotron .container{
        margin:0;
    }
    
    /* --- Jenis Layanan --- */

    .jenis-layanan .card .img-area{
        height: 70px;
    }

    .jenis-layanan .container .judul hr{
        width: 32%;
    }


    /*--- Portofolio ---*/
    .portofolio .container-judul{
        padding: 0 2rem;
    }

    .portofolio .card-body{
        margin-top: 20px;
    }

    .portofolio .card .btn-primary{
        padding: 12px;
    }


    /* ---- Page Alasan ---- */
    .items .text-img{
        width: 40px;
        margin-right: 20px;
    }

    /*--- Page Solusi ---*/
    .solusi .container-mitra .keterangan{
        padding: 30px 15px;
    }

    .solusi .container-mitra .keterangan h2{
        font-size: 1.2rem;
    }

    .solusi .keterangan .items .text-img{
        width: 35px;
    }

    .solusi .container-form{
        padding: 30px 15px 10px 15px;
    }

    .solusi .container-form .box-setuju{
        font-size: .8rem;
    }


    /*--- Button Submit ---*/
    .solusi .container-form .btn-submit{
        height: 35px;
    }


    /*--- Radio Button ---*/
    .solusi .container-form .costum-radio{
        margin-bottom: 10px;
        width: 50%;
    }
    /*--- End of Radio Button ---*/

    /*--- Testimonial ---*/
    .solusi .container-testi .img-testi{
        width: 60px;
        height: 60px;
    }

    .solusi .container-testi{
        top: -100px;
    }
    
    .solusi .container-testi .pelanggan .posisi{
        font-size: .7rem;
    }

    .solusi .box-setuju input[type="checkbox"]{
        width: 25px;
    }

    .solusi .container-form button.btn-submit{
        width: 100%;
        height: 40px;
        margin-top: 20px;
    }

    .solusi .container-testi .pelanggan{
        display: flex;
        flex-direction: column-reverse;
        align-items: flex-start;
        justify-content: space-around;
        justify-items: flex-start;
    }

    .solusi .container-testi .pelanggan-info{
        display: flex;
        flex-direction: row;
        align-items: center;
        margin-top: 20px;
        padding:0 !important;
    }

    .solusi .container-testi .pelanggan-info .img-testi{
        margin-right: 5px;
        height: 50px;
        width: 50px;
    }

    /*--- Page Blog ---*/
    .page-blog .container-judul{
        padding: 0;
    }

    .page-blog .container-judul h2{
        padding-right: 0px;
        padding-left: 0px;
    }

    .page-blog .margin-blog{
        margin-bottom: 20px;
    }

    /*--- End of CSS Page Blog ---*/ 

    .mari-bermitra {
        padding: 0;
    }

    .mari-bermitra .background{
        padding: 80px 0;
    }

    /* ====== End of Landing Page CSS */

    /* ====== Karir Page CSS ====== */
    .jumbotron-karir{
        padding-left: 100px !important;
        padding-right: 100px !important;
    }

    .list-karir{
        padding-bottom: 30px !important;
    }
    /* ==== End of Karir Page CSS === */

    /* ==== Kontak Kami Page CSS === */
    .kontak-kami .container-icon .jarak-icon {
        margin-bottom: 25px;
    }

     /* ==== Layanan IT Page CSS ===== */
     .layanan-it .container-button .integritas-sistem{
       padding-top: 150px !important;
    } 

    /* ===== CSS Page Not Found ==== */
    .page-not-found{
        position: relative;
    }

    .page-not-found .container-text a{
        width: 100%;
        font-size: 1.2rem;
    }

    .page-not-found .container-text .btn-homepage{
        text-align: center;
    }

    .page-not-found .container-text .to-homepage{
        padding: 15px 40px !important;
        margin-bottom: 20px;
        width: 70%;
    }

    .page-not-found .container-text .visit-us a{
        display: flex;
        justify-content: center;
    }

    /* ==== Portofolio Page CSS ==== */
    .portofolio-page .nav{
        display: flex;
        justify-content: center;
    }

    .portofolio-page .container-portofolio .nav-item{
        width: 45% !important;
        border: 1.8px solid #2926A9;
        border-radius: 5px;
        margin: 5px;
        text-align: center;
        position: relative;
        overflow: hidden;
        padding: 0 !important;
    }

    .portofolio-page .container-portofolio .nav-link span{
        position: unset !important;
    }
    
    .portofolio-page .container-portofolio .nav-link span::before{
        content: unset !important;
    }

    .portofolio-page .container-portofolio .nav-link::before{
        content: "";
        position: absolute;
        height: 100%;
        background: #00CAE6;
        width: 100%;
        left: 0;
        bottom: 0;
        transform: scaleX(0);
        transform-origin: left right;
        transition: 650ms;
        z-index: -1;
    }

    .portofolio-page .container-portofolio .nav-link:hover::before,
    .portofolio-page .container-portofolio .nav-link.active::before{
        transform: scaleX(1);
    }

    .portofolio-page .container-portofolio .nav-link.active span{
        color: #fff;
        font-weight: 400;
    }
}

@media only screen and (max-width: 767px){
    header .contact{
        display: none;
    }

    /* --- Fixed Buton --- */
    a.wa-button{
        padding: 7px 10px;
        border-radius: 50%;
	    bottom: 30px;
    }

    a.wa-button .fa-whatsapp{
        margin: 0;
        font-size: 40px;
    }
    
    a.wa-button p{
        display: none;
    }


    /*--- Jumbotron ---*/
    .jumbotron .cd-headline {
        font-size: 3rem;
    }
    
    /*--- Page Masalah ---*/
    .page-masalah .p-keterangan{
        padding-right: 0;
    }
    
    .page-masalah .margin{
        margin-top: 50px;
    }

    .page-masalah .btn-primary{
        font-size: 12px;
    }

    .page-masalah .number{
        display: flex;
        align-items: center;
    }

    .page-masalah .number h1{
        font-size: 36px;
    }

    /*--- Jenis Layanan ---*/
    .jenis-layanan .row{
        margin: 0 auto;
        padding: 0;
    }

    .jenis-layanan .costum-margin{
        margin-bottom: 10px;
    }

    .jenis-layanan .card .card-title{
        font-size: 1.2rem;
    }

    .jenis-layanan .card .card-text{
        font-size: 0.9rem;
    }

    .jenis-layanan .card .img-area{
        height: 90px;
    }

    .jenis-layanan .card .selengkapnya a{
        width: 80%;
    }
    
    .jenis-layanan .container .judul hr{
        width: 25%;
    }

    /*--- Portofolio ---*/
    .portofolio .batas-card{
        margin: 0 0 25px 0;
        padding: 0 !important;
    }

    .mari-bermitra {
        padding: 0;
    }

    /* Page Alasan */
    .items .text-img{
        width: 35px;
        margin-right: 20px;
    }

    /*--- Solusi ---- */
    .solusi .container-mitra .keterangan h2{
        font-size: 1.25rem;
    }

    /*--- Page Blog ---*/
    .page-blog .container-blog{
        padding-right: 15px;
        padding-left: 15px;
    }

    .page-blog .container-blog .margin-blog{
        margin-bottom: 20px;
    }

    .page-blog .container-blog .card .card-title {
        font-size: 1.2rem;
    }

    .page-blog .container-blog .card .sub-judul {
        font-size: .8rem;
    }

    .page-blog .container-blog .card .card-text {
        font-size: .9rem;
    }

    .page-blog .card-img-top {
        padding: 20px 20px 0 20px;
    }

    footer .panjang-footer{
        width: 50%;
    }

    /* ==== End of Landing Page CSS ==== */  
    /* ==== Page Karir CSS ==== */
    .jumbotron-karir{
        padding: 70px 30px !important;
        margin: auto;
    }

    .jumbotron p{
        padding: 0 !important;
    }
    /* ==== End of Page Karir CSS ==== */

    /* ==== Page Not Found CSS ==== */
    .page-not-found .container-text{
        margin-bottom: 70px;
    }
}

@media only screen and (max-width: 600px) {
    /* --- Header --- */
    header .email{
        margin-top: 10px;
    }

    header ul li{
        margin: 0;
    }

    header ul li img{
        margin-top: 25px;
        height: 40px;
    }

    header ul li p{
        font-size: 13px;
    }

    header li a{
        margin-right: 0;
    }

    /*--- Navbar ---*/
    nav {
        overflow: scroll;
        min-height: 100%;
    }

    nav {
        min-height: 10%;
    }

    .navbar{
        padding: 10px;
    }

    nav ul{
        margin: 15px !important;
        padding: 0;
    }

    nav .navbar-nav{
        margin-right: 15px !important;
    }

    nav .logo{
        margin-right: 60px !important;
    }

    nav .btn-sosmed{
        margin-top: 10px;
    }
    
    /*--- Jumbotron ---*/
    .jumbotron{
        padding: 30px 20px;
    }

    .jumbotron .content{
        text-align: left;
    }

    .jumbotron .content h2{
        font-size: 1.5rem;
    }

    .jumbotron .content h1{
        font-size: 2.3rem;
    }

    .jumbotron .content h1 span,
    .jumbotron .content h1 span b{
        text-align: left !important;
    }

    .jumbotron hr{
        width: 20%;
        margin-left: 0;
        margin-bottom: 20px;
        margin-top: 15px !important;
    }

    .jumbotron p{
        font-size: 1.2rem;
        text-align: left;
        margin-bottom: 20px;
        line-height: 1.2;
    }

    /*--- Page Masalah ---*/
    .page-masalah{
        padding: 3rem 0;
    }


    /*--- Jenis Layanan ---*/
    .jenis-layanan{
        margin-top:-50px;
    }

    .jenis-layanan .container .judul hr{
        width: 10%;
    }

    .jenis-layanan .card{
        padding-bottom: 50px;
    }

    .jenis-layanan .selengkapnya{
        bottom: 30px;
    }

    /* --- Portofolio --- */
    .portofolio{
        margin-bottom: 2rem;
    }

    .portofolio .container-judul{
        padding: 0;
    }

    .portofolio .row{
        margin: 0;
    }
    
    /*--- Page Solusi ---*/
    .solusi .container-form .jumlah h3{
        font-size: 1rem;
    }

    .solusi .container-form .margin-end {
        margin-bottom: 10px;
    }

    .solusi .container-form .box-setuju {
        margin-bottom: 20px;
    }

    .solusi .container-form .btn-submit {
        width: 100%;
        height: 40px;
    }

    .solusi .container-testi .pelanggan{
        margin-bottom: 50px;
        margin-left: 10px;
    }

    .solusi .container-testi .pelanggan .posisi {
        line-height: 14px;
    }

    .solusi .box-setuju input[type="checkbox"]{
        width: 37px;
    }

    /*--- Page Blog ---*/
    .page-blog {
        margin-top: 3rem;
    }

    /* --- Mari Bermitra --- */
    .mari-bermitra a{
        font-size: 12px;
    }

    footer .copyright p{
        font-size: 12px;
    }

    /* ====== End of Landing Page CSS */

    /* ====== Karir Page CSS ====== */
    .jumbotron-karir{
        padding: 100px 50px 80px 50px;
    }

    .jumbotron-karir .content h1{
        font-size: 3rem;
    }

    .tabel-bergabung .sub-judul{
        margin-bottom: 10px;
    }

    .tabel-bergabung h2{
        font-size: 2.1rem;
    }

    /* ==== Kontak Kami Page CSS ==== */
    .kontak-kami .container-judul{
        margin-bottom: 20px !important;
    }
    
    .kontak-kami .container-judul h2{
        font-size: 2rem;
    }

    .kontak-kami .container-judul .text-under-judul{
        font-size: 1.2rem;
        margin-bottom: 50px;
    }

    /* ==== End of Kontak Kami Page CSS ==== */

    /* ==== Layanan IT Page CSS ==== */

    .layanan-it .container-judul h2{
        font-size: 3rem !important;
    }

    .layanan-it .container-button .pengadaan-it{
        padding-top: 150px !important;
    } 

    /* ==== End of Layanan IT Page CSS ==== */

    /* ==== CSS Page Not Found ==== */
    .page-not-found .container-text .to-homepage{
        width: 100%;
    }

    /* ==== Portofolio Page CSS === */
    .portofolio-page .container-portofolio .nav-item{
        width: 90% !important;
    }
}

@media only screen and (max-width: 500px){
    body h1, body h2{
        font-size: 1.875rem;
    }
    
    /* ==== Kontak Kami Page CSS ==== */
    .kontak-kami{
        padding-top: 50px !important;
    }
}

@media only screen and (max-width: 470px){
    /*--- Jumbotron ---*/
    .jumbotron{
        padding-top: 40px;
        padding-right: 0;
        padding-left: 0;
    }

    /*--- Page Masalah ---*/
    .page-masalah .p-keterangan{
        padding-right: 15px;
        padding-left: 15px;
    }

    .page-masalah .btn-primary{
        width: 95%;
    }

    /*--- Jumbotron --- */
    .jumbotron .content h2{
        font-size: 1.8rem;
    }

    .jumbotron .content h1 {
        font-size: 2rem;
    }
    
    /*--- jenis layanan ---*/
    .jenis-layanan .carousel .costum-margin{
        padding: 0px !important;
    }

    /*--- Portofolio ---*/
    .portofolio .card .img-card-container{
        height: 110px;
    }

    .portofolio .card .card-img-top{
        width: auto;
    }

    /* ====== Karir Page CSS ====== */
    .jumbotron-karir{
        padding: 100px 0px 80px 0px;
    }

    .jumbotron-karir .content h1{
        font-size: 2.5rem;
    }

    .tabel-bergabung h2{
        font-size: 1.4rem;
    }
}

@media only screen and (max-width: 350px){
    /*--- Header ---*/
    header .contact .text .judul{
        font-size: 11px;
    }

    header .contact .text .isi{
        font-size: 14px;
    }

    header ul li img{
        margin-top: 15px;
    }

    /*--- Jumbotron ---*/
    .jumbotron .content h2{
        font-size: 20px;
        margin-bottom: 15px;
    }   

    .jumbotron .content h2{
        font-size: 1rem;
    }

    .jumbotron .content h1 {
        font-size: 1.5rem;
    }

    .jumbotron p, .jumbotron a{
        font-size: 15px;
    }

    /*--- Jenis Layanan ---*/
    .jenis-layanan .container .judul h3{
        font-size: 1rem;
    }

    /*--- Portofolio ---*/
    .portofolio .container-judul{
        margin-bottom: 40px;
    }

    .portofolio .card{
        padding: 16px 13px 14px 13px;
    }

    .portofolio .card .mini-judul{
        font-size: .7rem;
    }

    .portofolio .card .card-title{
        font-size: 1rem;
    }

    .portofolio .card .card-text{
        font-size: .8rem;
    }

    .portofolio .batas-card{
        padding: 0;
    }

    .jenis-layanan .batas-card{
        padding: 0;
    }

    /* ==== Karir Page CSS ==== */
    .jumbotron-karir .content h1{
        font-size: 2.5rem;
    }

    /* ==== End of Karir Page CSS ==== */

    /* ==== Layanan IT Page CSS ==== */
    .layanan-it .container-judul h2{
        font-size: 2rem !important;
    }
    /* ==== End of Layanan IT Page CSS ==== */

    /* ==== Page Not Found CSS ==== */
    .page-not-found .container-text h2{
        font-size: 2.8rem !important;
    }

    .page-not-found .container-text .text-under-judul{
        margin-bottom: 40px !important;
    }

    .page-not-found .container-text .to-homepage{
        padding: 12px 20px !important;
    }
}