/* --  Global CSS -- */
body{
    font-family: 'Montserrat', sans-serif;
    background-color: #F2F2F2;
}

p{
    margin: 0;
    font-size: 21px;
    font-weight: 500;
}

h2{
    font-size: 36px;
    font-weight: 700;
}

.sub-judul{
    font-size: 16px;
    font-weight: 700;
    color: #00CAE6;
}

.page-masalah p,
.jenis-layanan p,
.portofolio p,
.alasan-bermitra p,
label{
    color: #7F7F7F;
}


/* --  Header Costum CSS -- */
header{
    background-color: #2926A9;
    color: #fff;
    padding: 15px 0px;
}

header .contact{
    display: flex;
    flex-wrap: wrap;
    align-items:center;
}

header .telepon, header .email{
    padding: 0 .5rem;
    display: flex;
    align-items: center;
}

header .telepon{
    margin-right: 15px;;
}

header img{
    float: left;
    width: 35px;
}

header .contact img{
    margin-right: 10px;
}

header .contact .text{
    float: left;
}

header .contact .text .judul{
    font-size: .8rem;
    font-weight: 500;
}

header .contact .text .isi{
    font-size: 1rem;
    font-weight: 600;
}

header .contact .text a{
    color: #fff;
    text-decoration: none;
}

header .contact .text a:hover{
    color: rgb(230, 230, 230);
}

header ul{
    list-style: none;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

header li a{
    margin-right: 20px;
    display: flex;
    flex-direction: column;
    color: #fff;
    text-decoration: none;
}

header li a:hover{
    color: rgb(223, 223, 223);
    text-decoration: none;
}

header ul li img{
    align-self: center;
}

header li p{
    margin-top: 3px;
    text-align: center;
    font-size: .6rem;
    font-weight: 600;
}

/* --  Navigation Bar Costum CSS -- */

nav {
    background-color: #fff;
    font-weight: 600; 
}

.navbar{
    padding: 15px 40px;
}

.navbar-light .navbar-nav .nav-link {
    color: #101010;
}

.navbar-light .navbar-nav .active>.nav-link{
    color: #2926A9;
}

nav ul{
    margin: 0;
    display:flex;
    align-items: center;
    justify-content: space-evenly;
}

nav ul li{
    list-style: none;
    margin-right: 10px;
}

nav .logo{
    width: 250px;
}

nav li img{
    height: 30px;
}

/* --  Jumbotron Costum CSS -- */
.jumbotron{
    background: url("img/background/JumboboxPIC.png");
    background-repeat: no-repeat;
    background-size: cover;
    color: #fff;
    border-radius: 0;
    margin-bottom: 0;
    padding-top: 5.5rem;
}

.jumbotron .content{
    text-align: right;
    margin-right: 0;
}

.jumbotron .content h2{
    font-size: 30px;
    margin-bottom: 1.6rem;
}

.jumbotron .content h1{
    font-weight: 800;
    font-size: 4rem
}

.jumbotron .content h1 span{
    margin-right: 0;
}

.jumbotron .content h1 span b{
    text-align: right;
    margin: 0;
    width: 100%;
}

.jumbotron hr{
    border: 2px solid #fff;
    width: 10%;
    margin-right: 0;
    margin-bottom: 30px;
}

.jumbotron p{
    font-size: 1.03rem;
    text-align: right;
    display: inline-block;
    margin-bottom: 40px;
}

.jumbotron a{
    font-weight: 300;
    font-size: 1.03rem;
    text-decoration: underline;
    color: #fff;
}

/* Masalah dan kinerja */
.page-masalah h1, .page-masalah h2, .page-masalah h3{
    color: #2926A9;
}

.page-masalah{
    background: #E9E9FF;
    padding: 4rem 0;
    padding-bottom: 200px;
}

.page-masalah h2{
    margin-bottom: 20px;
    font-size: 1.8rem;
}

.page-masalah p{
    font-weight: 500;
    font-size: .95rem;
}

.page-masalah .caption{
    margin-bottom: 40px;
}

.page-masalah .btn-primary{
    display: inline-block;
    border-radius: 50px;
    padding:15px 40px;
    font-weight: 500;
    background: #00CAE6;
    border: none;
    transition: .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.page-masalah .btn-primary:hover{
    text-decoration: none;
}

/* --- CSS Hover Button Pada Page Masala, Submit Solusi, dan Bermitra --- */
.page-masalah .btn-primary::before,
.solusi .container-form .btn-submit::before,
.mari-bermitra a::before{
    content: '';
    position: absolute;
    left: 0;
    background-color: #2926A9;
    bottom: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
}

.page-masalah .btn-primary:hover::before,
.solusi .container-form .btn-submit:hover::before,
.mari-bermitra a:hover:before{
    height: 100%;
}

/* --- End of CSS Hover Button Pada Page Masala, Submit Solusi, dan Bermitra --- */

.page-masalah ul{
    padding: 0;
}

.page-masalah ul li{
    list-style: none;
    display: flex;
    margin-bottom: 30px;
}

.page-masalah ul li .number{
    margin-right:13px;
}

.page-masalah ul li h1{
    width: 30px;
    font-weight: 900;
    font-size: 2.8rem;
}

.page-masalah ul li h3{
    font-size: 1.1rem;
    font-weight: 700;
    margin-bottom: 3px;
    letter-spacing: -2;
}

.page-masalah ul li p{
    line-height: 1;
    font-size: 0.83rem;
    font-weight: 500;
}

/*--- Layanan ---*/
.jenis-layanan{
    margin-top: -150px;
    margin-bottom: 4rem;
}

.jenis-layanan h3{
    color: #2926A9;
}

.jenis-layanan .container .judul{
    display: flex;
    align-items: center;
    margin-bottom: 35px;
    text-align: center;
}

.jenis-layanan .container .judul h3{
    font-size: 1.3rem;
    margin: 0 10px;
    font-weight: 700;
}

.jenis-layanan .container .judul hr{
    border: 1px solid #2926A9;
    width: 39%;
}

.jenis-layanan .card{
    text-align: center;
    color: #fff;
    margin: 20px 0;
    border-radius: 10px;
    padding-top: 20px;
    padding-bottom: 15px;
    background: #2926A9;
    box-shadow: 0 4px 15px rgba(0,0,0,0.2);
}

.jenis-layanan .selengkapnya{
    display: flex;
    align-items: center;
    justify-content: center;
}

.jenis-layanan .selengkapnya a{
    display: inline-block;
    border-radius: 20px;
    padding: 10px 35px;
    color: #33BEF0;
    border: none;
    font-weight: 600;
    font-size: 0.9rem;
    letter-spacing: -5;
    text-decoration: none;
    transition: .5s cubic-bezier(0.785, 0.135, 0.15, 0.86);
    position: relative;
    overflow: hidden;
    z-index: 0;
}

.jenis-layanan .selengkapnya a:hover{
    color: #2926A9;
}

.jenis-layanan .selengkapnya a::before{
    content: '';
    position: absolute;
    left: 0;
    background-color: #fff;
    bottom: 0;
    width: 100%;
    height: 0%;
    z-index: -1;
    transition: .5s;
}

.jenis-layanan .selengkapnya a:hover::before{
    height: 100%;
}

.jenis-layanan .selengkapnya img{
    width: 17px;
    margin-left: 5px;
}

.jenis-layanan .card .card-title, .jenis-layanan .card .card-text{
    color: #fff;
}

.jenis-layanan .card .card-title{
    margin-bottom: 3px;
    font-weight: 600;
}

.jenis-layanan .card .card-text{
    font-weight: 500;
    margin-bottom: 20px;
    font-size: 0.9rem;
}

.jenis-layanan .card .img-area{
    height: 110px;
    padding: 2px;
    margin-bottom: 30px;
}

.jenis-layanan .img-area img{
    height: inherit;
}

.jenis-layanan .carousel{
    position: relative;
}

.jenis-layanan ol.carousel-indicators{
    position: absolute;
    bottom: -60px;
    width: auto;
}

.jenis-layanan .carousel-indicators li{
    width: 80px;
    margin: 0 10px;
}

.jenis-layanan .carousel .indicator{
    background-color: #7F7F7F;
    height: 8px;
    border-radius: 12.5px;
}

.jenis-layanan .carousel .indicator-active {
    background-color: #2926A9 !important;
}

/*--- Portofolio ---*/
.portofolio{
    margin-bottom: 6rem;
}

.portofolio .card{
    padding: 35px 25px 20px 25px;
    border-radius: 10px;
    border: none;
    box-shadow: 10px 10px 8px 0 rgba(100, 100, 100, 0.2), 0 10px 10px 0 rgba(100, 99, 99, 0.19);
}

.portofolio .card .card-body{
    padding: 0;
    position: relative;
}

.portofolio .container-judul{
    padding: 0 8rem;
    margin-bottom: 40px;
}

.portofolio .sub-judul,
.alasan-bermitra .container .sub-judul
{
    font-size: .95rem;
    font-weight: 800;
    color: #00CAE6;
}

.portofolio .keterangan-judul{
    font-weight: 500;
    font-size: 1.1rem;
}

.portofolio h2,
.alasan-bermitra h2{
    font-weight: 700;
    font-size: 1.8rem;
    color: #2926A9;
    letter-spacing: -1px;
    line-height: 1.3;
}

.portofolio .card-body{
    margin-top: 40px;
}

.portofolio .card-body .mini-judul{
    font-size: .9rem;
    font-weight: 700;
    color: #00CAE6;
    margin-bottom: 10px;
}   

.portofolio .card-body .card-title{
    font-size: 1.1rem;
    font-weight: 700;
    color: #2926A9;
    margin-bottom: 25px;
    margin-right: 5px;
}

.portofolio .card-body .card-text{
    font-size: .95rem;
    font-weight: 500;
    line-height: 1.3;
    padding-right: 5px;
    margin-bottom: 70px;
    margin-right: 10px;
}

.portofolio .card .btn-primary{
    border: none;
    background-color: #2926A9;
    width: 100%;
    padding: 12px;
}

.portofolio .card a{
    position: absolute;
    bottom: 0;
    border-radius: 20px;
    font-size: .9rem;
    font-weight: 500;
}

/*--- Alasan Bermitra ---*/
.alasan-bermitra{
    margin-bottom: 250px;
}

.alasan-bermitra .container-judul{
    margin-bottom: 50px;
}

.alasan-bermitra .container-judul .sub-judul{
    font-weight: 600;
}

.alasan-bermitra .container-judul p{
    font-weight: 500;
    line-height: 1.25;
    font-size: .97rem;
}

.alasan-bermitra ul{
    padding: 0;
}

/* --- CSS item pada 6 alasan dan form ---*/
.items .item{
    display: flex;
}

.items .text-img{
    width: 55px;
    margin-right: 20px;
}

.items .text h3{
    font-size: 1rem;
    font-weight: 700;
}

.items .text p{
    font-size: .87rem;
    font-weight: 500;
    line-height: 1.3;
}

/* --- Kembali ke CSS 6 alasan ---*/
.alasan-bermitra .items .item{
    margin-bottom: 45px;
    padding: 0 12px;
}

.alasan-bermitra .items li img{
    width: inherit;
}

.alasan-bermitra .items .text h3{
    color: #2926A9;
}

.alasan-bermitra .end-text{
    margin-top: -20px;
    width: 100%;
    text-align: center;
    font-weight: 500;
}

/* ---- Solusi ----*/
.solusi{
    background: url("img/background/page-form.png");
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
}

.container-mitra{
    position: relative;
    top: -180px;
}

.solusi .keterangan{
    padding: 50px 40px;
    background-color: #302CC9;
}

.solusi .keterangan ul{
    padding: 0;
}

.solusi .keterangan p{
    color: #00CAE6;
}

.solusi .keterangan .sub-judul{
    font-weight: 700;
    font-size: .9rem;
    margin-bottom: 10px;
}

.solusi .text-under-judul{
    font-size: .95rem;
    margin-bottom: 35px;
}

.solusi .keterangan h2{
    font-weight: 700;
    color: #fff;
    font-size: 1.84rem;
    margin-bottom: 13px;    
}

.solusi .form{
    background-color: #fff;
}

.solusi .keterangan .items{
    padding: 0 30px;
}

.solusi .items .item{
    margin-bottom: 30px;
}

.solusi .keterangan .items .text-img{
    width: 50px;
    margin-right: 20px;
}

.solusi .keterangan .item img{
    width: inherit;
}

.solusi .keterangan .items h3{
    margin-bottom: 2px;
    color: #fff;
    font-weight: 500;
    font-size: 1.1rem;
}

.solusi .keterangan .items p{
    font-size: .9rem;
}

/* ---- CSS Container Form --- */
.solusi .container-form{
    padding: 50px  30px 10px 30px;
}

.solusi .container-form input,
.solusi .container-form select{
    font-size: .9rem;
    color: #7F7F7F;
}

/* --- Costum Radio Button --- */
.solusi .container-form h5{
    font-size: 1rem;
    font-weight: 500;
    color: #7F7F7F;
    margin: 30px 0;
}

.solusi .container-form .margin-text{
    margin-bottom: 30px;
}

.solusi .container-form .margin-select{
    margin: 20px 0;
}

.solusi .container-form .margin-end{
    margin: 5px 0 50px 0;
}

.solusi .costum-radio input{
    display: none;
}

.solusi .container-form .radio-btn{
    text-align: left;
    width: 100%;
    padding: 22px 5px 22px 15px;
    border: 2px solid transparent;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 10px;
    text-align: center;
    cursor: pointer;
    background-color: #E5E5FC;
}

.solusi .container-form .radio-btn > i,
.solusi .box-setuju .checkbox-btn > i{
    height: 20px;
    color: #fff;
    background: #2926A9;
    font-size: .9rem;
    transform: translateX(-50%) scale(2);
    border-radius: 2px;
    padding: 3px;
    transition: 0.2s;
    pointer-events: none;
    display: inline-block;
    opacity: 0;
}

.solusi .container-form .jumlah{
    display: flex;   
}

.solusi .container-form .jumlah h3{
    font-size: 1.1rem;
    font-weight: 600;
    color: #2926A9;
    margin: 0;
}

.solusi .costum-radio input:checked+.radio-btn{
    border: 2px solid #2926A9;
    background-color: #fff;
}

.solusi .costum-radio input:checked+.radio-btn > i,
.solusi .box-setuju input[type="checkbox"]:checked+.checkbox-btn > i{
    opacity: 1;
    transform: translateX(-50%) scale(1);
}
/* --- End of Costum Radio Button --- */

/* --- Costum Check Box --- */

.solusi .container-form .box-setuju input{
    display: none;
}

.solusi .container-form .box-setuju{
    display: flex;
    align-items: center;
}

.solusi .container-form .box-setuju label{
    margin: 0;
    line-height: 1.15;
    font-weight: 500;
}

.solusi .container-form .box-setuju .checkbox-btn{
    margin-left: 10px;
}

.solusi .box-setuju .checkbox-btn{
    border: 2px solid #2926A9;
    position: relative;
    width: 22px;
    height: 22px;
    margin-right: 10px;
}

.solusi .box-setuju .checkbox-btn i{
    margin: 0;
    top: -3px;
    left: 9px;
    position: relative;
}

/*--- End of Custom Check Box ---*/
.solusi .container-form input[type="text"], 
.solusi .container-form input[type="email"],
.solusi .container-form input[type="tel"],
.solusi .container-form select{
    border: none;
    border-radius: 0;
    border-bottom: 1px solid #7F7F7F;
}

.solusi .container-form input[type="text"], 
.solusi .container-form input[type="email"],
.solusi .container-form input[type="tel"]{
    padding-left: 5px;
}

.solusi .container-form select{
    padding-left: 0;
}

.solusi .container-form input[type="text"]:focus, 
.solusi .container-form input[type="email"]:focus,
.solusi .container-form input[type="tel"]:focus,
.solusi .container-form select:focus{
    border-color: inherit;
    -webkit-box-shadow: none;
    box-shadow: none;
}

.solusi .container-form .btn-submit{
    display: inline-block;
    text-align: center;
    width: 80%;
    text-decoration: none;
    background-color: #9B9BFE;
    padding: 10px 30px;
    color: #fff;
    font-size: .9rem;
    font-weight: 600;
    border-radius: 20px;
    z-index: 0;
    position: relative;
    overflow: hidden;
}

.solusi .container-form .btn-submit:hover{
    text-decoration: none;
}

.solusi .container-testi .pelanggan{
    display: flex;
    justify-content: space-between;
    color: #fff;
}

.solusi .container-testi .img-testi{
    width: 80px;
    height: 80px;
    position: relative;
    overflow: hidden;
    border-radius: 100%;
    margin-bottom: 10px;
}

.solusi .container-testi .img-testi img{
    width: inherit;
}

.solusi .container-testi{
    position: relative;
    top: -70px;
}

.solusi .container-testi p{
    color: #CFCECE;
    font-weight: 500;
    font-size: .98rem;
    padding-left: 0;
}

.solusi .container-testi .pelanggan h5{
    font-size: 1rem;
    margin-bottom: 3px;
}

.solusi .container-testi .pelanggan .posisi{
    font-size: .75rem;
    color: #919090;
    font-weight: 500;
}

/* --- End of Solusi CSS ---*/

/* --- Page Blog CSS --- */
.page-blog{
    margin-top: 120px;
}
.page-blog .container-judul{
    padding: 0 200px;
}

.page-blog .container-judul h2{
    color: #2926A9;
}

.page-blog .container-blog .card{
    border-radius: 10px;
}

.page-blog .container-blog .card .sub-judul{
    font-weight: 600;
    font-size: 10px;
    line-height: 12px;
    letter-spacing: -0.336875px;
    color: #2926A9;
    margin-bottom: 5px;
}

.page-blog .container-blog .card .card-title{
    font-weight: 600;
    font-size: 18px;
    line-height: 22px;
    letter-spacing: -0.606375px;
    color: #2926A9;
    margin-bottom: 20px;
}

.page-blog .container-blog .card .card-text{
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
    letter-spacing: -0.471625px;
    color: #4540FF;
    margin-bottom: 35px;
}

.page-blog  .text-under-judul{
    font-size: 21px;
    color: #7F7F7F;
    font-weight: 500;
    margin-bottom: 55px;
}

.page-blog .text-under-container{
    margin: 50px 0;
    font-size: 18px;
    color: #7F7F7F;
    font-weight: 500;
}

/* --- End of CSS Page Blog --- */

/* --- CSS Mari Bermitra --- */
.mari-bermitra{
    background-color: #2926A9;
    padding: 0px 130px;
    margin-bottom: 20px;
}

.mari-bermitra .background{
    background-image: url("img/background/mari-bermitra.png");
    background-repeat: no-repeat;
    background-size:100%;
    padding: 150px 0;
}

.mari-bermitra h1{
    color: #fff;
    margin-bottom: 30px;
}

.mari-bermitra p{
    color: #7F7F7F;
    font-size: 1.05rem;
}

.mari-bermitra h1{
    font-weight: 700;
}

.mari-bermitra a{
    font-weight: 600;
    font-size: 18px;
    position: relative;
    overflow: hidden;
    margin-top: 60px;
    display: inline-block;
    padding: 20px 50px;
    background-color: #33BEF0;
    color: white;
    border-radius: 50px;
    z-index: 0;
}

.mari-bermitra a:hover{
    text-decoration: none;
    color: #2926A9;
}

.mari-bermitra a::before{
    background-color: #fff;
}

/* --- End of CSS Mari Bermitra --- */
/* --- CSS Footer --- */
footer{
    background-color: #2926A9;
    padding-top: 20px;
}

footer .menu{
    margin-bottom: 50px;
}

footer .menu h5{
    color: #fff;
}

footer .menu ul{
    padding: 0;
}

footer .menu li{
    font-size: 1rem;
    color: #A6A5A5;
    list-style: none;
    margin-bottom: 10px;
}

footer .contact{
    margin-bottom: 60px;
}

footer .contact a{
    text-decoration: none;
    cursor: pointer;
    color: #00CAE6;
}

footer .contact a:hover{
    color: #fff;
}

footer .copyright{
    padding-bottom: 50px;
}

footer .contact p,
footer .copyright p{
    font-size: 1rem;
    color: #00CAE6;
}